.footer__page{
    height: 213px;
    background-image: url(/public/images/fundo.png);
    background-position: center;
    background-color: #6278f7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__page .social-media {
    list-style-type: none;
    display: flex;
    gap: 35px;
}
.footer__page .social-media img {
    height: 35px;
}
.footer__page img{
    height: 63px;
}

.footer__page p {
    color: #fff;
    font-size: 20px;
}